# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
.pytest_cache/
